h1 {
    text-align: center;
    font-size: xx-large;
}
.container {
    grid-row: 3;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 10px black;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;

}

.inside, .contact {
    grid-column: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.fade{
    opacity: 0.5;
}
a{
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
}

.social{
    text-align: center;

    margin-top: 5%;
    margin-bottom: 5%;
}
.icon{
    max-width: 10%;
}
button{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;

}
#prof {
    max-width: 40%;
}
